{% extends 'temzone/base.html' %}

{% block content %}

  <!-- Основной контент -->
    <section id="news">

      <div class="news-list">
        <article class="news-item">
          <h3>Заголовок новости 1</h3>
          <p>Краткое описание новости или анонс. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="news_detail.html" class="read-more">Читать далее</a>
        </article>
        <article class="news-item">
          <h3>Заголовок новости 2</h3>
          <p>Краткое описание новости или анонс. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="news_detail.html" class="read-more">Читать далее</a>
        </article>
        <article class="news-item">
          <h3>Заголовок новости 3</h3>
          <p>Краткое описание новости или анонс. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="news_detail.html" class="read-more">Читать далее</a>
        </article>
      </div>
    </section>

{% endblock %}
